.text-type {
  display: inline-flex;
  align-items: center;
}

.text-type__content {
  white-space: pre-wrap;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 0.1em;
  font-weight: normal;
  color: inherit;
}

.text-type__cursor--hidden {
  display: none;
}
